/* .image_slider::before {
  content: "";
  width: 350px;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(212, 211, 211)
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
} */

.card_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
  /* margin: 60px 0; */
  flex-wrap: wrap;
}

.card3 {
  box-sizing: border-box;
  gap: 20px;
  flex: 0 0 calc(50% - 15px);
}

 
@media screen and (max-width: 1536px) {
  .card3 {
    flex: 0 0 calc(50% - 7.5px);
  }

  .card_holder {
    gap: 15px;
  }
}
@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 600px) {
  .card3 {
    flex: 0 0 100%;
    /* flex: 0 0 calc(100% - 3.75px); */
    flex-direction: column;
  }

  .card_holder {
    flex-direction: column;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes cloudAnimation {
  from {
    left: -2400px;
  }
  to {
    left: 0px;
  }
}
/* @keyframes cloud2 {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
} */
